@model IEnumerable<saonGroup.UI.Models.ProvinceModel>


<table class="table  table-borderless" id="tableProvince">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.province)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.confirmed)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.deaths)
            </th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.province)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.confirmed)
                </td>
                 
                <td>
                    @Html.DisplayFor(modelItem => item.deaths)
                </td>
                 
            </tr>
        }
    </tbody>
</table>
